/* The grid: Four equal columns that float next to each other */
.column {
  float: left;
  width: 15%;
}

/* Style the images in the grid */
.column img {
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the 
 * close button and the text) */
.imgContainer {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  -webkit-text-stroke: black 0.5px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 40px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 115px;
  width: 14vw;
  height: 10vh;
  border-radius: 5px;
}

.thumbnail:hover {
  filter: saturate(160%);
}

#thumbnailRow {
  padding: 0 10px;
}

.box {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.box::-webkit-scrollbar {
  display: none;
}

#recipeLink {
  margin-top: 15px;
}
