:root {
  /*color palette*/
  --main-bg-color: #2C2C2C;
  --light-color: #FAF4F3;
  --light-color-2: #9C9E30;
  --link-color: #E04868;
  --accent-color-2: #A44641;
  --main-color: #989EB6;
}

html {
  background-color: var(--main-bg-color);
  font-size: 100%;
}

img {
    width: 96%;
    padding: 1em 0em 2em 0em;
}

h1 {
  font-size: 150%;
  text-align: left;
  margin-right: 5rem;
  margin-bottom: 1em;
  color: var(--main-color);
}

h2 {
  color: var(--light-color-2);
  font-size: 180%;
  text-align: left;
}

hr {
  display: block;
  overflow: hidden;
  border-style: dashed;
  border-width: 1px;
}

p {
  color: var(--light-color);
  font-size: 110%;
  margin-right: 2em;
}

a {
  color: var(--link-color);
}

header {
  display: block;
  color: var(--light-color);
  background-color: var(--main-bg-color);
  text-align: right;
  font-size: 150%;
}

body {
  font-family: "Fira Sans";
  color: var(--main-color);
  margin: auto;
  padding: 1em;
  background-color: var(--main-bg-color);
  font-size: 16px;
  max-width: 980px;
}

table {
  display: grid;
  table-layout: auto;
  background-color: var(--main-bg-color);
  width: 50%;
}

li {
  font-size: 120%;
  padding-right: 0;
}

header {
  padding-right: 0;
  width: 100%;
}

.recipe {
  display: block;
  font-size: 150%;
  text-align: justify;
  flex-wrap: no-wrap;
  float: left;
  padding-bottom: 3em;
}

@media(min-width: 768px) {
  .recipe { 
    display: flex;
    font-size: 100%;
    justify-content: flex-start;
    vertical-align: top;
  }

  table {
    padding-right: 3em;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0.2em;
  font-size: 100%;
  line-height: 1;
}

th {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-size: 120%;
  padding-right: 1em;
}

td {
  border-top: 1px solid;
  border-color: var(--main-color);
  color: var(--main-color);
  width: 100%;
  padding-right: 1em;
  text-align: left;
  font-size: 120%;
}

.hidden {
  display: none;
}
